<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BashoGo</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
<div class="container">
    <h1 id="title">BashoGo : Place Kanji Reading Guessing Game</h1>
    <p id="dev">by <a class="link" href="https://github.com/kirisame-ame" target="_blank" rel="noopener noreferer">Kirisame-ame</a></p>
    <div id="lang">
        <button onclick="applyTranslations('en')" class="langBut"><img src="static/img/us.png" class="flag">English</button>
        <button onclick="applyTranslations('ja')" class="langBut"><img src="static/img/jp.png" class="flag">日本語</button>
        </div>
    <div id="kanji-area">
        <p id="score">score: 0</p>
        <p id="kanji">Loading...</p>
    </div>
    <div id="map"></div>
    <div id="result-area">
        <p id="preResult"></p>
        <p id="result"></p>
        <button id="next" onclick="nextKanji()">Next</button>
    </div>
    <button id="giveup" onclick="giveUp()">Give Up</button>
    <input type="text" id="guess" placeholder="Enter your guess">
    <button onclick="submitGuess()" id="guessButton">Submit</button>
    <p>ひらがな or Romaji are OK</p>
</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="/static/script.js"></script>
</body>
</html>
